services:
  app-server:
    build:
      context: ./server/
      dockerfile: Dockerfile.server
    ports:
      - 9191:80
    volumes:
      - ./static:/static 
    networks:
      - app-network

networks:
  app-network:
    driver: bridge